<!DOCTYPE html>
<html>
<head>
	<style type="text/css">
		#map 
		{
			width: 100%;
			height: 400px;
			background-color: grey;
		}
	</style>
</head>

<body>
	<div id = "loc" style= "height: 100px"/>
		<!-- source -->
		<label>Source Address: </label>
		<input type="text" id="source" placeholder="Enter a location" style="width: 500px;height:30px">
		<input type="hidden" id="lat1" value="">
		<input type="hidden" id="lng1" value="">
		<br>
		<br>
		<!-- destination -->
		<label>Destination Address: </label>
		<input type="text" id="destination" placeholder="Enter a location" style="width: 500px;height:30px">
		<input type="hidden" id="lat2" value="">
		<input type="hidden" id="lng2" value="">
	</div>
	
	<div id="map"></div>
	<div id="distance" style= "height: 50px"></div>
	
	<script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete&language=en&output=json&key=AIzaSyDd6tr6EHkRWtwujV7WUimsaXSPs0c7lq8" async defer></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	
	<script type="text/javascript">
	
		function initAutocomplete() {
			var map = new google.maps.Map(document.getElementById('map'), {
				center: { lat: 14.801324393209953, lng: 120.93481775225001 },
				zoom: 15
			});
			
			var mk1, mk2;
			var loc1, loc2;
			
			//source address
			var address1 = document.getElementById('source');
			var autocomplete1 = new google.maps.places.Autocomplete(address1);
			
			autocomplete1.addListener('place_changed', function() {
				var place = autocomplete1.getPlace();
				var latitude = place.geometry.location.lat();
				var longitude = place.geometry.location.lng();
				document.getElementById('lat1').value = latitude;
				document.getElementById('lng1').value = longitude;
				
				//landmark
				loc1 = {lat: latitude, lng: longitude};
				
				//marker
				mk1 = new google.maps.Marker({position: loc1, map: map});
			});
			
			//destination address
			var address2 = document.getElementById('destination');
			var autocomplete2 = new google.maps.places.Autocomplete(address2);
			
			autocomplete2.addListener('place_changed', function() {
				var place = autocomplete2.getPlace();
				var latitude = place.geometry.location.lat();
				var longitude = place.geometry.location.lng();
				document.getElementById('lat2').value = latitude;
				document.getElementById('lng2').value = longitude;
				
				//landmark
				loc2 = {lat: latitude, lng: longitude};
				
				//marker
				mk2 = new google.maps.Marker({position: loc2, map: map});
				
				//draw line
				var line = new google.maps.Polyline({path: [loc1, loc2], map: map});
				
				//calculate and display distance between the source and destination addresses
				var distance = haversine_distance(mk1, mk2);
				document.getElementById('distance').innerHTML = "Distance between markers: " + distance.toFixed(2) + " mi.";
			});
			
		}
		
		function haversine_distance(mk1, mk2) {
			var R = 3958.8; // Radius of the Earth in miles
			var rlat1 = mk1.position.lat() * (Math.PI/180); // Convert degrees to radians
			var rlat2 = mk2.position.lat() * (Math.PI/180); // Convert degrees to radians
			var difflat = rlat2-rlat1; // Radian difference (latitudes)
			var difflon = (mk2.position.lng()-mk1.position.lng()) * (Math.PI/180); // Radian difference (longitudes)
			var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
			return d;
	}
	
	</script>
</body>
</html>
