{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create Order</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/d0e66af1fa.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
      <div class="view-account">
          <section class="module">
              <div class="module-inner">
                  <div class="side-bar">
                      <div class="user-info">
                          <img class="img-profile img-responsive center-block" src="{% static 'img/c_logo.png' %}" alt="changsan logo">
                          <ul class="meta list list-unstyled">
                              <li class="name">{{ request.user.first_name }} {{ request.user.last_name }}</li>
                          </ul>
                      </div>
              		<nav class="side-menu">
          				<ul class="nav">
                            <ul class="nav">
                                <li><a href="{% url 'profile' %}"><span class="fa fa-user"></span> Profile</a></li>
              					<li><a href="{% url 'customer_edit_profile' %}" target="_self"><span class="fa fa-cog"></span> Edit User Profile</a></li>
                                <li><a href="{% url 'user_edit_password' %}" target="_self"><span class="fas fa-lock"></span> Change Password</a></li>
                                {% if user.is_superuser %}
                                    <li><a href="{% url 'employee_add' %}" target="_self"><span class="fas fa-user-plus"></span> Add Employee</a></li>
                                {% endif %}
              					<li class="active"><a href="{% url 'order_option' %}"><span class="fas fa-plus-square"></span> Create Order</a></li>
              					<li><a href="{% url 'order_view' %}"><span class="fas fa-shopping-basket"></span> My Orders</a></li>
              					<li><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Logout</a></li>
              				</ul>
              			</nav>

          				</ul>
          			</nav>
                  </div>
                  <div class="content-panel my-5">
                      <h2 class="title">Changsan Laundry Shop </h2>

                      <fieldset class="fieldset">
                          <h3 class="fieldset-title">Make sure to fill up all the forms.</h3>
                          <form method="post">
                              {% csrf_token %}
                              {% if user.is_employee or user.is_superuser and not existing_customer %}
                                  <div class = "form-row col-md-12">
                                    <div class = "form-group col-md-6">
                                      <label class = "label" for = "inputFirst">First Name: </label>
                                      {{ customuser_form.first_name }}
                                    </div>

                                    <div class = "form-group col-md-6">
                                      <label class = "label" for = "inputLast">Last Name: </label>
                                      {{ customuser_form.last_name }}
                                    </div>
                                  </div>

                                  <div class = "form-group col-md-12">
                                    <label class = "label" for="inputContact">Contact Number: </label>
                                    {{ customeruser_form.contact }}
                                  </div>
                              {% endif %}

                          <div class = "form-inline">
                            <div class = "form-group col-md-6">
                              <label class = "label" for="inputProvision">Provision Type: </label>
                                {{ baseorder_form.provision_type }}
                            </div>

                            <div class = "form-group col-md-6">
                              <label class = "label" for="inputRetrieval">Retrieval Type: </label>
                              {{ baseorder_form.retrieval_type }}
                            </div>
                        </div>

                        <div class = "form-inline">

                            <div class = "form-group col-md-6">
                              <label class = "label" for="inputService">Service: </label>
                              {{ baseorder_form.service }}
                            </div>


                          <div class = "form-group col-md-6">
                            <label class = "label" for="inputStatus">Status: </label>
                            {{ baseorder_form.status }}
                          </div>

                      </div>

                          <div class ="form-group col-md-12" id = "loc" style= "display: none">
                      		<!-- address -->
                      		<label>Home Address: </label>
                      		{{ baseorder_form.address }}
                      		<input type="hidden" id="lat" value="">
                      		<input type="hidden" id="lng" value="">
                        </div>

                        <div class = "form-group col-md-12">
                          	<div id="map" style="display: none; width: 100%; height: 400px"></div>
                          	<div id="distance"></div>
                            <input type="hidden" name="dist_num" id="dist_num" value="0"/>
                        </div>

                          <div class = "form-group col-md-12">
                            <label class = "label" for="inputStatus">Comments: </label>
                            {{ baseorder_form.comments }}
                          </div>

                            <div class = "text-center" >
                              <button type="submit" class="btn btn-primary mt-3">Proceed to check-out</button>
                            </div>
                        </form>

                        {% if customuser_form.errors %}
                            {% for field in customuser_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in customuser_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if customeruser_form.error %}
                            {% for field in customeruser_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in customeruser_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif %}
                        {% if baseorder_form.errors %}
                            {% for field in baseorder_form %}
                                {% for error in field.errors %}
                                    <div class="alert alert-danger">
                                        <strong>{{ error|escape }}</strong>
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% for error in customeruser_form.non_field_errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endif%}
                      </fieldset>
                      <div class = "panel-footer text-right m-5">
                          <small> &copy; Changsan Laundry </small>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class = "container-fluid padding">
      <div class = "row text-center">

        <div class = "col-12">
          <hr5> &copy; Federez, Lindio, Samonte, Vergara </h5>
        </div>
        </div>
    </footer>

    <script src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initAutocomplete&language=en&output=json&key=AIzaSyDd6tr6EHkRWtwujV7WUimsaXSPs0c7lq8" async defer></script>
	<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type="text/javascript">

		function initAutocomplete() {
			var map = new google.maps.Map(document.getElementById('map'), {
				center: {lat: 14.801324393209953, lng: 120.93481775225001 },
				zoom: 15
			});

			var mk1, mk2;
			var loc2;

			const loc1 = {lat: 14.801324393209953, lng: 120.93481775225001};
			mk1 = new google.maps.Marker({position: loc1, map: map});

			//destination address
			var address = document.getElementById('add');
			var autocomplete = new google.maps.places.Autocomplete(address);

			autocomplete.addListener('place_changed', function() {
				var place = autocomplete.getPlace();
				var latitude = place.geometry.location.lat();
				var longitude = place.geometry.location.lng();
				document.getElementById('lat').value = latitude;
				document.getElementById('lng').value = longitude;

				//landmark
				loc2 = {lat: latitude, lng: longitude};

				//marker
				mk2 = new google.maps.Marker({position: loc2, map: map});

				//draw line
				var line = new google.maps.Polyline({path: [loc1, loc2], map: map});

				//calculate and display distance between the source and destination addresses
				var distance = haversine_distance(mk1, mk2);
                document.getElementById('dist_num').value = distance.toFixed(2);
				document.getElementById('distance').innerHTML = "Distance from Changsun LaundryShop to your location: " + distance.toFixed(2) + " mi.";
			});
		}

		//hide unhide based on provision
		$(function () {
			$("#inputProvision").change(function () {
				if ($(this).val() == "0") {
					$("#loc").show();
					$("#map").show();
					$("#distance").show();
				} else {
					$("#loc").hide();
					$("#map").hide();
					$("#distance").hide();
				}
			});
		});

		//hide unhide based on retrieval
		$(function () {
			$("#inputRetrieval").change(function () {
				if ($(this).val() == "0") {
					$("#loc").show();
					$("#map").show();
					$("#distance").show();
				} else {
					$("#loc").hide();
					$("#map").hide();
					$("#distance").hide();
				}
			});
		});

        $(function() {
            $(document).ready(function () {
                if (($("#inputRetrieval").val() == "0")) {
					$("#loc").show();
					$("#map").show();
					$("#distance").show();
				} else {
					$("#loc").hide();
					$("#map").hide();
					$("#distance").hide();
				}

                $("#inputProvision").change(function () {
    				if ($(this).val() == "0") {
    					$("#loc").show();
    					$("#map").show();
    					$("#distance").show();
    				} else {
    					$("#loc").hide();
    					$("#map").hide();
    					$("#distance").hide();
    				}
    			});


            });
        });



		function haversine_distance(mk1, mk2) {
			var R = 3958.8; // Radius of the Earth in miles
			var rlat1 = mk1.position.lat() * (Math.PI/180); // Convert degrees to radians
			var rlat2 = mk2.position.lat() * (Math.PI/180); // Convert degrees to radians
			var difflat = rlat2-rlat1; // Radian difference (latitudes)
			var difflon = (mk2.position.lng()-mk1.position.lng()) * (Math.PI/180); // Radian difference (longitudes)
			var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat/2)*Math.sin(difflat/2)+Math.cos(rlat1)*Math.cos(rlat2)*Math.sin(difflon/2)*Math.sin(difflon/2)));
			return d;
	}

	</script>



</body>
</html>
