{% extends "base.html" %}
{% load static %}

{% block title %}
    <title>Create Order</title>
{% endblock title %}

{% block pagecss %}
<link href="{% static 'css/profile.css' %}" rel="stylesheet">
{% endblock pagecss%}

{% block content %}
    <h2>New order</h2>
    <form action="" method="post">
        {% csrf_token %}
        {{ customuser_form.as_p }}
        {{ customeruser_form.as_p }}

        {{ baseorder_form.as_p }}
        <button type="submit">Save</button>
    </form>
{% endblock content %}
