{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Create Order</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/d0e66af1fa.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
  <link href="{% static 'css/profile.css' %}" rel="stylesheet">
</head>

<body>
  <div class="container">
      <div class="view-account">
          <section class="module">
              <div class="module-inner">
                  <div class="side-bar">
                      <div class="user-info">
                          <img class="img-profile img-responsive center-block" src="{% static 'img/c_logo.png' %}" alt="changsan logo">
                          <ul class="meta list list-unstyled">
                              <li class="name">{{ name }}</li>
                              <li class="email"><a href="#">{{ user_email }}</a></li>
                          </ul>
                      </div>
              		<nav class="side-menu">
          				<ul class="nav">
                            <li><a href="{% url 'profile' %}"><span class="fa fa-user"></span> Profile</a></li>
          					<li><a href="{% url 'customer_edit_profile' %}" target="_self"><span class="fa fa-cog"></span> Edit User Profile</a></li>
                            <li><a href="{% url 'user_edit_password' %}" target="_self"><span class="fas fa-lock"></span> Change Password</a></li>
                            {% if user.is_superuser %}
                                <li><a href="{% url 'employee_add' %}" target="_self"><span class="fas fa-user-plus"></span> Add Employee</a></li>
                            {% endif %}
          					<li class="active"><a href="{% url 'order_new' %}"><span class="fas fa-plus-square"></span> Create Order</a></li>
          					<li><a href="{% url 'order_view' %}"><span class="fas fa-shopping-basket"></span> My Orders</a></li>
          					<li><a href="{% url 'logout' %}"><span class="fas fa-sign-out-alt"></span> Logout</a></li>

          				</ul>
          			</nav>
                  </div>
                  <div class="content-panel my-5">
                      <h2 class="title">Changsan Laundry Shop </h2>

                      <fieldset class="fieldset">
                          <h3 class="fieldset-title">Make sure to fill up all the forms.</h3>
                          <form method="post">
                              {% csrf_token %}
                              {% if user.is_employee or user.is_superuser %}
                                  <div class = "form-row col-md-12">
                                    <div class = "form-group col-md-6">
                                      <label class = "label" for = "inputFirst">First Name: </label>
                                      {{ customuser_form.first_name }}
                                    </div>

                                    <div class = "form-group col-md-6">
                                      <label class = "label" for = "inputLast">Last Name: </label>
                                      {{ customuser_form.last_name }}
                                    </div>
                                  </div>

                              <div class = "form-row col-md-12">
                                <div class = "form-group col-md-6">
                                    <label class = "label" for="inputAddress">Email-address: </label>
                                    {{ customuser_form.email }}
                                </div>

                                  <div class = "form-group col-md-6">
                                    <label class = "label" for="inputContact">Contact Number: </label>
                                    {{ customeruser_form.contact }}
                                  </div>
                              </div>
                              {% endif %}


                          <div class = "form-group col-md-12">
                            <label class = "label" for="inputAddress">Home Address: </label>
                            {{ baseorder_form.address }}
                          </div>

                          <div class = "form-inline">
                            <div class = "form-group col-md-4">
                              <label class = "label" for="inputProvision">Provision Type: </label>
                                {{ baseorder_form.provision_type }}
                            </div>

                            <div class = "form-group col-md-4">
                              <label class = "label" for="inputRetrieval">Retrieval Type: </label>
                              {{ baseorder_form.retrieval_type }}
                            </div>

                            <div class = "form-group col-md-4">
                              <label class = "label" for="inputService">Service: </label>
                              {{ baseorder_form.service }}
                            </div>
                          </div>

                            <div class = "text-center" >
                              <button type="submit" class="btn btn-primary mt-3">Proceed to check-out</button>
                            </div>
                        </form>
                      </fieldset>
                      <div class = "panel-footer text-right m-5">
                          <small> &copy; Changsan Laundry </small>
                      </div>
                  </div>
              </div>
          </section>
      </div>
  </div>

  <!-- Footer -->
  <footer>
    <div class = "container-fluid padding">
      <div class = "row text-center">

        <div class = "col-12">
          <hr5> &copy; Federez, Lindio, Samonte, Vergara </h5>
        </div>
        </div>
    </footer>

</body>
</html>
