{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Changsan LaundryShop</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/d0e66af1fa.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link href="{% static 'css/signUp.css' %}" rel="stylesheet">
  </head>


  <body onload="myFunction()" style="margin:0;">

  <div id="loader"></div>

  <div style="display:none;" id="myDiv" class="animate-bottom">
      <section class = "Form my-4 mx-5">
        <div class = "container">
          <div class = "row no-gutters">

        <div class = "col-lg-5">
            <img src = "{% static 'img/login_form.png' %}" class="img-fluid" alt="Changsan Logo">
        </div>
          <div class = "col-lg-7 px-4 pt-4">
            <h1 class = "font-weight-bold"> Changsan Laundry </h1>
              <h4 class = "mb-2"> Create your account: </h4>


              <div class = "confirm text-center">
                <i class="far fa-check-circle m-3"></i>
                <h4 class = "m-5"> You have successfully registered your account! </h4>
                <a href = "{% url 'home' %}"> <button class = "btn btn2">  <b class="fas fa-arrow-left"></b> Back to Homepage </button> </a>
              </div>


            <div class = "panel-footer text-right">
                <small> &copy; Changsan Laundry </small>
            </div>
          </div>
        </div>
        </div>
      </section>
    </div>

<script>
      var myVar;

      function myFunction() {
        myVar = setTimeout(showPage, 3000);
      }

      function showPage() {
        document.getElementById("loader").style.display = "none";
        document.getElementById("myDiv").style.display = "block";
      }
</script>

  </body>
  </html>
